.menu {
    position: fixed;
    top: 0;
    left: -200px; /* Inicialmente oculto a la izquierda */
    width: 200px;
    height: 100%;
    background-color: #333; /* Color de fondo del menú */
    transition: left 0.3s; /* Agrega una transición suave de movimiento */
  }

.openBtn {
    position: absolute; 
    top: 10px; /* Ajusta la distancia desde la parte superior según tus necesidades */
    left: 10px; /* Ajusta la distancia desde la izquierda según tus necesidades */
    background-color: transparent; /* Color de fondo del botón */
    color: #fff; /* Color de texto del botón */
    padding: 10px 20px; /* Ajusta el relleno según tus necesidades */
    border: none; /* Elimina el borde si es necesario */
    cursor: pointer;
    width: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #444; /* Color de fondo de los botones */
    border: none;
    color: #fff; /* Color del texto de los botones */
    cursor: pointer;
}

button:hover {
    background-color: #555; /* Cambia el color de fondo al pasar el cursor por encima */
}