.head{
    height: 350px;
    background-image: url(./../irudiak/facultadHorizontal.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    
   
}

.header2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    
}
.header3{

    text-align: center;
    max-width: 300px ;
    color: white;
    padding: 20px;
    border: 2px solid white;
    
}

/*I need to hide the mains sections of the page*/
main section{
   overflow: hidden;

}
