/*Ordenagailuarentzat*/

body {
    font-family: Arial, sans-serif;
    background-color: rgb(231, 231, 231);
    margin: 0;
    padding: 0;
}

.head{
    height: 30vh;
    background-image: url(./../irudiak/facultadHorizontal.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    
   
}

.header2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    
}
.header3{

    text-align: center;
    max-width: 300px ;
    color: white;
    padding: 20px;
    border: 2px solid white;
    
}

.taula {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #dddddd; /* Establece el borde de 1 píxel sólido con color gris */
    padding: 16px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2; /* Establece un color de fondo gris claro para las celdas de encabezado */
  }
.calendar-buttons{
    background-color: rgb(255, 255, 255);
}
.month-button1{

}

.month-button2{
    
}

.month-header{
    text-align: center;
    max-width: 300px ;
    padding: 20px;
    border: 2px solid  #dddddd;
    position: relative;
    margin-top: 0;
}


.kalendario{
    display: flex;
    align-items: center;
    justify-content: center;
    width:fit-content;
    border: 5px solid black;
    flex-direction:column ;
}

.goikoatala{
    border: solid black;
    width:100%;
    text-align: center;
}

/*Mugikorrarentzat*/

@media (max-width: 768px) {
    .kalendario {
        width: 65vh;
    }

   
}