body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

header {
    font-size: 24px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    text-align: center;
    background-color: #ccc;
    
}

.year-buttons {
    margin-top: 10px;
}

.year-button {
    cursor: pointer;
    background-color: #ccc;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
}