/*Ordenagailuarentzat*/

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.section {  
   
    display: block;
    width:880px;
    margin: 50px auto;
    background-color: white/* #080808cc */;
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;

    padding: 20px;
    border: 1px solid rgba(70, 53, 0, 0.555);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(70, 53, 0);
    gap: 4rem;
}

.quizcompleted{
    background-color: transparent;
   
}

.quiz{
    color: black;
    font-size: bold;
}
.button{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}
.submit-button {
    width: 60px;
    margin-right: 0;
    font-family: Arial, sans-serif;
}

 
#kalifikazioa{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 2dvh;
    color: white;
}

.separador{
    border-bottom: 1px solid rgba(29, 29, 29, 0.61);
    margin: 0 auto;
    width: 80%;
    
}




@media only screen and (max-width: 992px){
    .section{
        width: 90%;
    }
}