@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');


.section {
    width: 90%;
    margin: 0 auto;
    padding: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;


}

.specialty {
    /*I need to put the text down the picture*/
    display: flex;
    flex-direction: column;

    text-align: center;
    color: black;
    /*I need more distance between image and text*/
    gap: 0.5rem;

}

.img {
    width: 20dvh;
    background-color: #1b1b1ba6;
    color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    cursor: pointer;

}