.footer{
    margin-top: 20px;
    height: 8dvh;
    background-color:#1b1b1ba6;
    position: relative;
}

.textcontent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}